nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   margin: 0px;
}
.new{
    align-items: center;
    margin-left: 460px;
    justify-content: space-between;
    padding: 50px;
    margin-top: -580px;
    padding-bottom: 400px;

}
.New-hero{
    display: flex;
    align-items: center;
    margin-left: 390px;
 margin-top: -400px;
}
nav{ 
    text-align: center;
margin-left: 130px;   
margin-top: -30px;
}
.hero-new{
    text-align: center;
    justify-content: center;
    margin-left: 50px;
}
.New-top{
    text-align: center;
    justify-content: center;
    margin-top: 150px;
}
.new-tag{
    text-align: center;
    justify-content: center;
}
.roman-new{
text-align:left;
}
.new-rock{
justify-content: space-between;
align-items: center;
margin-left: 600px;
margin-top: -50px;
}
.rock-new{
margin-left: -870px;
justify-content: center;
align-items: center;
margin-right: 100px;
}
.top-new{
margin-top: -200px;
margin-left: 300px;
}
.My-new{
align-items: center;
margin-left: 230px;
margin-right: 290px;
}
.new-don{
align-items: center;
margin-left: 300px ;
margin-top: 45px;
}
.new-roky{
    margin-right: 300px;
}
.new-hp{
    margin-top: -60px;
    margin-left: 650px;
}
.new-dp{
    margin-left: -730px;
    margin-top: -100px;
}
.new-ip{
    text-align: center;
    justify-content: center;
}
.new-tp{
    text-align: center;
    justify-content: center;
}
.new-pt{
    margin-left: 350px;
}
.new-tcp{
    margin-left: 530px;
}
.repo-n{
    margin-left: 70px;
}
.new-pd{
    margin-left: 70px;
}
.new-raf{
    list-style: none;
    margin-left: 60px;
    
}
.new-rip{
    margin-left: 570px;
    margin-top: -250px;
    margin-bottom: 130px;
}
.new-rp{
    margin-left: 575px;
    margin-top: -110px;
}
.rp-new{
    margin-left: 350px ;
    margin-bottom: -50x;
    text-align: left;
}
.new-op{
    margin-left: 550px ;
    margin-bottom: -50x;
    list-style: none;
}
.ip-new{
    margin-left: 1000px;
    margin-bottom: 1100px;
    margin-top: -170px;
}
.pi-new{
    margin-left: 975px;
    margin-top: -1090px ;
}
.new-os{
    margin-left: 960px;
    margin-top: -10px ;
}
.ip-no{
margin-left:980px ;
margin-top: -5px;
list-style: none;
}
.vp-ip{
    margin-left: 200px;

    border-radius: 50px;
}
.pi-vp{
    display: flex;
margin-left:530px ;
margin-top: -230px;
}
.pi-np{
    margin-left:300px;
margin-top: 30px;
}
.back-10{
    margin-left: 470px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.new-di{
    margin-top: 200px;
    margin-left: 50px;
}
.fb-com{
    margin-left: 450px;

}
