nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   margin: 0px;
}
.new{
    align-items: center;
    margin-left: 460px;
    justify-content: space-between;
    padding: 50px;
    margin-top: -580px;
    padding-bottom: 400px;

}
.New-hero{
    display: flex;
    align-items: center;
    margin-left: 390px;
 margin-top: -400px;
}
nav{ 
    text-align: center;
margin-left: 130px;   
margin-top: -30px;
}
.hero-new{
    text-align: center;
    justify-content: center;
    margin-left: 50px;
}
.New-top{
    text-align: center;
    justify-content: center;
    margin-top: 150px;
}
.new-tag{
    text-align: center;
    justify-content: center;
}
.roman-new{
text-align:left;
}
.new-rock{
justify-content: space-between;
align-items: center;
margin-left: 600px;
margin-top: -50px;
}
.rock-new{
margin-left: -870px;
justify-content: center;
align-items: center;
margin-right: 100px;
}
.top-new{
margin-top: -200px;
margin-left: 300px;
}
.My-new{
align-items: center;
margin-left: 230px;
margin-right: 290px;
}
.new-don{
align-items: center;
margin-left: 300px ;
margin-top: 45px;
}
.new-roky{
    margin-right: 300px;
}
.new-hp{
    margin-top: -60px;
    margin-left: 650px;
}
.new-dp{
    margin-left: -730px;
    margin-top: -100px;
}
.new-ip{
    text-align: center;
    justify-content: center;
}
.new-tp{
    text-align: center;
    justify-content: center;
}
.new-pt{
    margin-left: 300px;
}
.new-tcp{
    text-align: center;
    justify-content: center;
    margin-left: 0px;
}
.repo-n{
    justify-content: center;
margin-left: 80px;
text-align: center;
}
.new-raf{
    list-style: none;
    margin-left: 80px;
}
.new-tip{
    justify-content: center;
    margin-left: 550px;
    margin-bottom: 90px;
    margin-top: -650px;
}
.new-ti{
    justify-content: center;
    margin-left: 350px;
    margin-bottom: 100px;
    margin-top: -70px;
}
.new-op{
    text-align: center;
    list-style: none;
    margin-left: -30px;
    margin-top: -90px;

}
.java-js{
    text-align: center;
    justify-content: center;
    margin-left: 1000px;
    margin-top: -300px;
    margin-bottom: 90px;
}